[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        global-statement,
        unspecified-encoding,
        trailing-newlines,
        redefined-outer-name,
        broad-exception-caught,
        line-too-long,
        invalid-name,
        no-member,
        too-many-instance-attributes,
        too-many-locals,
        too-many-branches,
        too-many-statements,
        too-many-arguments,
        too-many-nested-blocks,
        abstract-method
