[Unit]
After=network.target

[Service]
Type=simple

User=intellibat
Group=intellibat

WorkingDirectory=/opt/intellibat
ExecStart=/opt/intellibat/venv/bin/python /opt/intellibat/software/service.py

Restart=on-failure
RestartSec=2

StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1
Environment=PIP_NO_CACHE_DIR=1
Environment=INTELLIBAT_CONFIG_PATH=/etc/intellibat/config.json

[Install]
WantedBy=multi-user.target
