[Unit]
After=network.target

[Service]
Type=simple

User=intellibat
Group=intellibat
RuntimeDirectory=intellibat
RuntimeDirectoryMode=0750

WorkingDirectory=/opt/intellibat
ExecStart=/opt/intellibat/venv/bin/python /opt/intellibat/software/service.py

Restart=on-failure
RestartSec=2

StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1
Environment=PIP_NO_CACHE_DIR=1
Environment=INTELLIBAT_CONFIG_PATH=/etc/intellibat/config.json
Environment=INTELLIBAT_RECORDINGS_PATH=/opt/intellibat/test_recordings
Environment=INTELLIBAT_SPECTROGRAMS_PATH=/opt/intellibat/output
Environment=INTELLIBAT_TELEMETRY_PATH=/run/intellibat/status.json
Environment=BATBOT_REDUCED=1

[Install]
WantedBy=multi-user.target
